@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary: #ffffff;
  --secondary: #0F0F0F;
  --accent: #ad0000;
}


.mask{
  mask-image: url('/maskW.svg');
  mask-repeat: no-repeat;
  mask-size: 40px;
  background: #ec4e39;
  position: absolute;
  color: black;
}


  .mask, .body{
   
   
    cursor: default;}